<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Product Tracker</title>
    </head>

    <body>
        <h1>Welcome to Product Tracker</h1>
        <h2>Copy paste your Daraz URL below.</h2>

        <form method="GET">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" name="url-input" placeholder="Enter or copy-paste URL here.">
                </input>
            </div>
        </form>

        <!-- input = request.form["url-input"] -->


    </body>

</html>