<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Product Tracker</title>
    </head>

    <body>
        <h1>Welcome to Product Tracker</h1>
        <h2>Copy paste your SastoDeal URL below.</h2>

        <form action="product" method="POST">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" name="url-input" placeholder="Enter or copy-paste URL here.">
                </input>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        {% if not input_url %}
        <img src = "{{ image }}" style = 'width: 400px;'>
        {% endif %}

        <h2> {{ msg }}</h2>
    </body>

</html>