<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Product:</title>
</head>
<body>  
    <h1> Your Pinned Products: </h1>
    <!-- {{ result  }} -->
    {% for row in result %}
    <p>{{ row }}</p>
    
    {% endfor %} 
    
    <!-- {% for product in result %}
        <a href="#">
            <h2>{{ product['item_name'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ product['first_scrape'] }}</span>
        <span class="badge badge-primary">{{ product['first_price'] }}</span>
        <hr>
    {% endfor %} -->
</body>
</html>
{% extends 'base.html' %}


